.messageBox {
  word-wrap: break-word;
  padding: 1rem 0.7rem 0 0.7rem;
}

.user {
  background-color: #343541;
  text-align: right;
  
  p {
    text-align: left;
  }
}

.chatBot {
  background-color: #444654;
}